{% extends "vhsApp/base.html" %}

{% load static %}

{% block background %}{% static 'vhsApp/assets/imagen/cinta-video-vintage_background.jpg' %}{% endblock %}

{% block contenidoVarios %}

        <div class="text-left">
            <img height="40px" src="{{url}}" >
            <h3>Bienvenido al mundo del VHSdigital</h3>
        </div>

    <h3>Podes buscar un video:</h3>

    <form action="/vhsApp/buscar/" method="GET">

        <input type="text" name="video" id="video">

        <input type="submit" value="Buscar">

    </form>

    {% if videos %}

    <p>Estamos buscando: {{video}}</p>

    <ul>
        {% for video in videos %}
                <li> {{video.nombre}} </li>
                <li> {{video.genero}} </li>
        {% endfor %}

    </ul>

    {% else %}

    <p>No hay datos.</p>

    {% endif %}

    <p style="color: red;">{{respuesta}}</p>
 

{% endblock contenidoVarios %}
